* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: tahoma, sans-serif;
}
.cs-shadowbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
}
.cs-master-wrap {
  background: white;
  position: fixed;
  top: 40px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 10001;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cs-master-wrap .productGroupingWrap {
  width: 50%;
  margin-right: 3%;
}
.cs-master-wrap .group {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.cs-master-wrap .itemsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.cs-master-wrap .itemWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cs-master-wrap .itemWrap img {
  height: 90px;
}
.cs-master-wrap .itemTitle {
  text-align: center;
}
.cs-master-wrap .productSuggestionsWrap {
  padding: 10px;
  width: 47%;
}
.cs-master-wrap .item-description > h2 {
  font-size: 18px;
}
.cs-master-wrap .suggested-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}
.cs-master-wrap .suggested-item .item-image-wrap {
  padding-right: 20px;
}
.cs-master-wrap button {
  background-image: -webkit-linear-gradient(top, #6ea204, #499b1e);
  background-image: linear-gradient(to bottom, #6ea204, #499b1e);
  border: 0;
  margin-top: 10px;
  padding: 5px 20px;
  color: white;
}
