* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: tahoma, sans-serif;
}
.cs-shadowbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background-color: rgba(0,0,0,.4);
}
.dl-master-wrap {
    background: white;
    position: fixed;
    top: 40px;
    left: 20px;
    right: 20px;
    // bottom: 20px;
    max-height: 90%;
    z-index: 10001;
    overflow: auto;
    padding: 20px;
    display: block;

    h1 {
        font-size: 22px;
    }
	
    .dl-results-master-wrap {
        display: flex;
        padding: 20px;
    }
	.productGroupingWrap {
		width: 50%;
		margin-right: 3%;
	}
	.group {
		border-bottom: 1px solid #ccc;
		padding: 10px;
		>h1 {

		}
	}
	.itemWrap {
		padding: 10px;
        text-align: center;
        background: white;
        position: relative;
        z-index: 5;
        transition: all .5s ease;
		img {
			height: 90px;
		}
	}
    .dellyLogo {
        height: 100px;
    }
    .devbuttons {
        position: absolute;
        top: -9999em;
    }
    #inspironlist, #homelist {
        display: none;
    }
    .item-description {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .view-details {
        color: white !important;
    }
    .itemWrap.dl-move-it {
        opacity: .01;
        position: absolute;
        left: 0;
        top: 0;
    }
	.itemTitle {
		text-align: center;
        display: block;
        color: #007DB8;
        width: 100%;
	}
    .dl-item-link {
        display: block;
    }
	.productSuggestionsWrap {
		padding: 10px;
		width: 47%;
	}
    .suggestion-image {
        position: relative;
        top: -20px;
    }
	.item-description {
		>h2 {
			font-size: 18px;
            margin: 0 0 10px 0;
		}
	}
	.suggested-item {
		display: flex;
		border-bottom: 1px solid #ccc;
		padding: 10px;

		.item-image-wrap {
			padding-right: 20px;
		}
	}
	button {
	    border: 0;
	    margin-top: 10px;
        margin-right: 20px;
	    padding: 5px 20px;
	    color: white;
	}
    .itemHide {
        display: none;
    }
    .rowHide {
        display: none;
    }
    bookmarks {
        display: block;
        padding: 10px;
    }
    .dl-bookmark-items {
        display: flex;
        display: none;
        a {
            color: white;
            &:visited {
                color: white;
            }
            &:hover {
                opacity: .9;
            }
        }
    }
    .dl-bookmark-item {
        margin-right: 10px;
    }
}
