<!DOCTYPE html>
<html ng-app="delly">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/combined.css">
</head>
<body ng-controller="MainCtrl">
    <div class="cs-shadowbox"></div>


        <section class="dl-master-wrap">
            <input-wrap></input-wrap>
            <button-section></button-section>
            <section class="dl-results-master-wrap">
                <div class="productGroupingWrap">
                    <category-row ng-repeat="cagetory in categories"></category-row>
                </div>
                <div class="productSuggestionsWrap">
                    <h1>Suggested Products</h1>
                    <suggested-item ng-repeat="item in suggestions"></suggested-item>
                </div>  
            </section>
        </section>

    

    <script src="/js/min/combined-bundled.js"></script>
</body>
</html>