<div class="dl-bookmark-items-wrap list-unstyled-wrap row" >
    <ul id="inspiron-bookmarks" class="dl-bookmark-items list-unstyled col-sm-12">
        <li  class="dl-bookmark-item ng-scope">
            <a href="javascript:;" class="btn btn-primary dl-bookmark-link ng-binding">Laptops</a>
        </li>
        <li  class="dl-bookmark-item ng-scope">
            <a href="javascript:;" class="btn btn-primary dl-bookmark-link ng-binding">Home</a>
        </li>
        <li  class="dl-bookmark-item ng-scope">
            <a href="javascript:;" class="btn btn-primary dl-bookmark-link ng-binding">Inspiron</a>
        </li>      
    </ul>
    <ul id="home-bookmarks" class="dl-bookmark-items list-unstyled col-sm-12">
        <li  class="dl-bookmark-item ng-scope">
            <a href="javascript:;" class="btn btn-primary dl-bookmark-link ng-binding">Laptops</a>
        </li>
        <li  class="dl-bookmark-item ng-scope">
            <a href="javascript:;" class="btn btn-primary dl-bookmark-link ng-binding">Home</a>
        </li>   
    </ul>
    <ul id="laptop-bookmarks" class="dl-bookmark-items list-unstyled col-sm-12">
        <li  class="dl-bookmark-item ng-scope">
            <a href="javascript:;" class="btn btn-primary dl-bookmark-link ng-binding">Laptops</a>
        </li>     
    </ul>
</div>