<section class="group row" type="{{item.type}}" >
    <div class="col-md-12">
        <h1>{{category.sectionTitle}}</h1>
        <div class="itemsWrap row">
            <div class="itemWrap col-md-4" type="{{item.type}}" ng-repeat="item in category.items">
                <a class="dl-item-link" href="{{item.linkUrl}}" title=""><img src="{{item.imageUrl}}"></a>
                <a class="dl-item-name" href="{{item.linkUrl}}" title=""><span class="itemTitle">{{item.itemTitle}}</span></a>
            </div>
        </div>
    </div>
</section>